<app-navbar></app-navbar>

<div class="container22">

<div class="container">
    <div class="modal-body">

        <table class="table">
            <thead>
              <tr>

                <th scope="col">Productos</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carro of carrito" class="data">
                <td name="nombre">{{carro.nombre}}</td>
                <td name="precio">Bs. S {{carro.precio}}</td>
                <td name="cantidad">{{carro.cant}}</td>
              </tr>
            </tbody>
            
            <th>TOTAL: Bs. S {{total()}}</th>
          </table>
  </div>


    <div class="container12">
      <h2 class="texto">
        Llena este formulario para procesar su pago y finalizar su compra!
        Nos comunicaremos con usted en los próximos minutos,
        en 24hrs tendrás 
        
      </h2>
      <h2 class="texto">
          Tu Mercadito!
      </h2>
    </div>

<div class="container mt-5">
  <h2>Formulario de Pedido</h2>
  <form (ngSubmit)="contactForm(form.value)" #form="ngForm" class="form">
  <div class="form-group">
  <label>Nombre</label>
  <input type="text" class="form-control" name="nombre" ngModel>
</div>

<div class="form-group">
  <label>Teléfono</label>
  <input type="text" class="form-control" name="asunto" ngModel>
</div>
<div class="form-group">
  <label>E-mail</label>
  <input type="email" class="form-control" name="email" ngModel>
</div>
<div class="form-group">
  <label>Dirección Completa</label>
  <textarea class="form-control" cols="30" rows="6" name="mensaje" ngModel></textarea>
</div>
<button type="submit" class="btn" popover="Email enviado exitosamente"
popoverTitle="Exitoso"
triggers="focus">Pide YA!</button>
</form>

</div>
</div>



