.container12{
    align-content: center; 
    align: center;
    height: 15vh;
    left: 30%;
    text-align: center;
    padding: 30px;
    padding-bottom: 7%;
    font-family: 'Anton', sans-serif;
    color: rgb(255, 116, 2);
    font-size: 50px;
}

.table{
    font-size: 20pt
}
.texto{
    font-size: 3vw;
    
}
.texto1{
    font-size: 3vw;
    padding-bottom: 2%
}
.form{
    
    border-color: black;
    align-items: center;
    align-content: center;
    text-align: center
}
.btn{
    align-self: center;
    flex: 50%;
    background-color: darkgreen;
    color: antiquewhite;
    width: 100%;
    height: 10vh;
    font-size: 200%
}
.card-img-top{
    width: 100%;
    height:150px;
}
.row{
    padding-left: 10%;
    padding-bottom: 2%
}
.card-deck{
    padding-top: 5%;

}
.card{
    text-align: center;
    background-color: rgba(200, 200, 200, 0.883);
    color: white;
    border-color: white;
}
.container{
    padding-top: 5%;
    padding-bottom: 5%
}
.container22{
    align-content: center; 
    align-content: center;
   
    background-color: rgba(200, 200, 200, 0.883);
    
    
}