<div class="sticky-top">
  <!--HEADER-->
  <div class="header">
      <h1>
           Bienvenidos a
         </h1>
         <img src="/assets/horizontal.png" style="height: 72%; width:55%">
  </div>

  <!--NAVBAR-->
  <nav  class="navbar navbar-expand-md navbar-dark bg-white" style="color: gold">
  
          <button  (click)="isCollapsed=!isCollapsed" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div [collapse]= "!isCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul  class="navbar-nav navbar-left" style="margin-left: 0px;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard" style="color: green">Home</a>
          </li>
          
          </ul>
          <ul  class="navbar-nav navbar-right">
              <li class="nav-item active">
              </li>
              <li class="nav-item active" routerLink="/checkout">
                <a class="nav-link" routerLink="/checkout" style="color: green">Checkout</a>
                </li>
                <li class="nav-item active" routerLink="/carrito2">
                  <a class="nav-link" routerLink="/carrito2" style="color: green">Carrito</a>
                  </li>
              </ul>
          </div>
  
  </nav>        
</div>

