
  <!--HEADER-->
  <div class="header">
      <h1 class="texto">
           Bienvenidos a
         </h1>
         <div class="conta"><img src="/assets/horizontal.png" style="height: auto; width:100%"></div>
         
  </div>
  <div class="sticky-top">
  <!--NAVBAR-->
  <nav  class="navbar navbar-expand-md navbar-light bg-white">
  
          <button  (click)="isCollapsed=!isCollapsed" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon" ></span>
          </button>
          <div [collapse]= "!isCollapsed" class="collapse navbar-collapse" id="navbarNavDropdown" >
          <ul  class="navbar-nav navbar-right" style="margin-left: 0px;">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/inicio" style="color: green">Inicio</a>
          </li>
          </ul>
          <ul  class="navbar-nav navbar-right" style="margin-left: 0px;">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/dashboard" style="color: green">Productos</a>
              </li>
              </ul>
          <ul  class="navbar-nav navbar-right">
                <li class="nav-item active" routerLink="/compra">
                  <img src="/assets/carrito2.png" alt="cart" style="width:60px;height:60px;" class="nav-link" routerLink="/compra"> 
                  </li>
              </ul>
          </div>
  
  </nav>        
</div>

