

<app-navbar></app-navbar>
<div style="background-color:rgba(200, 200, 200, 0.883)" class="todo">
<div class="container12">
  <h1 class="texto">
    NUESTRA MEJOR COSECHA
  </h1>
</div>

<div class="container">
    <select (change)="selectChangeHandler($event)" class="form-control form-control-lg">
        <option value="Show All">Mostrar Todo</option>
        <option value="Frutas">Frutas</option>
        <option value="Vegetales">Verduras y Hortalizas</option>
        <option value="Frutos Secos">Frutos Secos</option>
      </select>
</div>

<div class="card-deck">
<div class="row">
    <div class="col-3" *ngFor="let plato of platos" [class.invisible]="!(selectedFood==plato.tipo || selectedFood=='Show All')">
      <div class="card">
          <img class="card-img-top" src="{{plato.img}}">
          <div class="card-block">
              <p class="titular">{{plato.nombre}}</p>
              <p>Precio por Kg</p>
              <h4 class="value2" id="value2">{{plato.precio}} Bs. S</h4>
                <input type="number" name="value1" id="value1" min="0"  />
           <br>
                <span id="sum" class="precio">0.00 Bs. S</span>
                
              <ul class="list-group list-group-flush">
                  <button class="btn" popover="Producto añadido a carrito"
                  popoverTitle="Exitoso"
                  triggers="focus" placement="right" (click)="addCarrito(plato)">Anadir al Carrito</button><!--Boton de Comprar-->
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

      
      
   
