<app-navbar></app-navbar>
<div class="container12">
  <h1>
    ¡Bienvenidos al tu Mercadito!
  </h1>
  <h2>
    Aquí encontrarás todo lo que necesitas;
    sin la necesidad de salir de tu casa...
    Te llevamos todo lo que quieras dentro de 24-48 horas
    con un delivery totalmente gratis!
  </h2>
</div>
<div class="container122">
  <p>Foto de como funciona</p>
</div>
<div class="container12">
  <button type="button" class="btn btn-info btn-lg" routerLink="/dashboard"> Ven y disfuta de nuestros Productos</button>
</div>
