<app-navbar></app-navbar>

<div class="comp">

  <div >
    <div >
      <div class="cart">
  
            <img src="/assets/cart.png" alt="cart" style="width:100px;height:130px;">  
         
         </div>
    </div>
    
    <div class="cont">
    <div class="modal-body">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Productos</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let carro of carrito" class="data">
                  <td name="nombre">{{carro.nombre}}</td>
                  <td name="precio">Bs. S {{carro.precio}}</td>
                  <td name="cantidad"><span class="masmenos" (click)="sub(carro)">&#10134;</span><span class="cantidad">{{carro.cant}}</span><span class="masmenos" (click)="add(carro)">&#10133;</span></td>
                  <td><span class="masmenos" (click)="borrarPlato(carro)">&#10060;</span></td>
                </tr>
              </tbody>
              <th>TOTAL: Bs. S {{total()}}</th>
            </table>
    </div>
  </div>
  <div class="boton">
      <div class="hola">
          <button type="button" [routerLink]="['/checkout']" class="btn btn-primary btn-lg btn-block">Checkout</button>
          
      </div>
      
  
  </div>
    
   
  </div>
</div>

